
body{
    background-color: #417577;
    color: rgb(255, 153, 0);
    font-size: 16px;
    padding: 0 14px;
}
     
 
 .paragrafo{
     font-size: 17px;
     color: rgb(255, 141, 2);
 }

 .paragrafo-dois{
    font-size: 17px;
    color:rgb(50, 183, 79);
}

.paragrafo-tres{
    font-size: 17px;
    color: rgb(255, 0, 0);
}

.paragrafo-quatro{
    font-size: 17px;
    color: rgb(25, 0, 255);
}
.paragrafo-cinco{
    font-size: 17px;
    color: rgb(221, 255, 0);
}





 
 
 .rodape{
     display: grid;
     font-size: 15px;
     color:white;
 }
 
 .imagem{
     width: 62%;
 }
 .imagem-dois{
    width: 45%
 }
 
 .texto-dois{
    width:20px;
 }
.texto-um{
    width:20px;
}